@{
    Layout = "_Layout"; // fixed the error of "The layout view '_NonAdminLayout' could not be located"
}
<h3>
    An occured while processing your request. The support
    team is notified and we are working on the fix
</h3>